In [3]:
git remote add origin https://github.com/John-Zelten/Loan-Default-Predictor.git
git branch -M main
git push -u origin main

SyntaxError: invalid syntax (854459711.py, line 1)

In [27]:
import os
print(os.getcwd())

C:\Users\jzelt

In [46]:
test = os.getcwd()

os.chdir("C:/Users/jzelt/OneDrive/Documents/Portfolio_Projects/Credit_Risk_Project")
print("Current working directory is:", os.getcwd())

Current working directory is:  C:\Users\jzelt\OneDrive\Documents\Portfolio_Projects\Credit_Risk_Project

In [64]:
import pandas as pd
data = pd.read_csv('loan_data_set.csv')
data = data.drop('Loan_ID', axis = 1)
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [87]:

import numpy as np
data[np.isnan(data)]  = 0
data[['Education', 'Married', 'Gender', 'Self_Employed', 'Property_Area', 'Loan_Status', 'Dependents']] = data[['Education', 'Married', 'Gender', 'Self_Employed', 'Property_Area', 'Loan_Status', 'Dependents']].apply(lambda x: pd.factorize(x)[0])

In [88]:
y = data.loc[:, 'Loan_Status']
x = data.loc[:, data.columns != 'Loan_Status']

In [89]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,
                                                    train_size = 0.8,
                                                    stratify = y,
                                                    random_state = 1999) 
print(x_train.shape, x_test.shape, sep = "\n")

(491, 11)
(123, 11)

In [90]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(random_state = 1999)
model = classifier.fit(x_train, y_train)
model.score(x_test, y_test)

0.6991869918699187

In [91]:
model.score(x_train, y_train)

1.0

In [94]:
grid = {'max_depth': [2, 3, 4, 5],
        'min_samples_split': [2, 3, 4],
        'min_samples_leaf': range(1, 7)}
from sklearn.model_selection import GridSearchCV
gcv = GridSearchCV(estimator = classifier, param_grid = grid)
model_ = gcv.fit(x_train, y_train).best_estimator_
model_.score(x_test, y_test)

0.7723577235772358

In [107]:
from xgboost import XGBClassifier

In [136]:
clf = XGBClassifier(n_estimators = 150, learning_rate = .005, max_leaves = 0)

In [137]:
xgboost = clf.fit(x_train, y_train)

In [138]:
xgboost.score(x_test, y_test)

0.7804878048780488